.profile {
  height: 200px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}


.homes-screen-tiles{
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin: 25px;
  border: 1px solid blue;
  padding: 5px;

}


.campaign-player-thumbs{
border: 3px solid black;
padding: 1px 1px;
margin-top: 2px;

}

.dungeon-room-tile{
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin: 25px;
  border: 1px solid blue;
  background-color: white;
  padding: 5px;
  float: left;
}
.adjacent-room-tile{
  height:100px;
  width: 100px;
  float: left;
  border: 3px solid black;
  display: inline-flex;
  margin: 5px;
  overflow-x: hidden;
  overflow-y: hidden;

}

.current-room-tile{

  height:400px;
  width: 400px;
  border: 3px solid black;
  object-fit: contain;
  background-size: cover;
/* float: left; */
}

.feature-tile{


}

.catagooory{
  height:20px;
  width: 40px;
  background-color: white;
  border: 2px solid black;
}
